.swiper-navigation
  button
    width: 48px
    height: 48px
    border: 0
    outline: 0
    background: $white
    @extend .br50
    @extend .flex-center
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15))